<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817734908556-mqb1u7q4huferui1pakd83ss1ol97uof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817734908556-mqb1u7q4huferui1pakd83ss1ol97uof</string>
	<key>API_KEY</key>
	<string>AIzaSyC94jNeQ7bzdgA9qx-EngFsGHSY_J3NYa4</string>
	<key>GCM_SENDER_ID</key>
	<string>817734908556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.traviszhang.Final-NHS-App</string>
	<key>PROJECT_ID</key>
	<string>national-honors-society</string>
	<key>STORAGE_BUCKET</key>
	<string>national-honors-society.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817734908556:ios:95f9581974687145</string>
	<key>DATABASE_URL</key>
	<string>https://national-honors-society.firebaseio.com</string>
</dict>
</plist>